<div class="row text-center">
  <h2>Welcome!</h2>

  <p>
    <button type="button" class="btn btn-primary btn-lg">Log In</button>
    <button type="button" class="btn btn-info btn-lg">Request Info</button>
  </p>
</div>

